@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
/* @import url(fonts/font.css); */

:root {
    --point-color: rgb(213,0,50); /*point color*/
    --point-color-darker: rgb(124, 15, 40); /*point dark*/
    --point-color-lighter: rgb(252, 208, 218); /*point light*/
    --support-color-gray: rgb(201, 201, 201);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Comfortaa', sans-serif, cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 8px 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    font-size: 1.35em;
    font-weight: 700;
    padding: 16px 0;
}

p span {
    font-weight:700;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: var( --point-color );
}

.quickContact a{
    color: #000000;
}

.quickContact a:visited {
    color: #000000; 
}

a:hover,
a:focus {
    font-weight: bold;
}

a:active {
    color: var( --point-color-darker );
}

.quickContact a:active {
    color: #000000;
}

img {
    width: 100%;
}

.button {
    display: inline-block;
    background-color: var(--point-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8em;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 4px;
    border-bottom: 3px solid var(--point-color-darker);
    transition: background-color 0.5s linear 0s;
}

.button:hover {
  background-color: var(--point-color-darker);
}

.button.contact {
    display: inline-block;
    background-color: #ffffff;
    color: var(--point-color);
    border: 1px solid var(--point-color);
    border-bottom: 3px solid var(--point-color-darker);
    text-transform: uppercase;
}

.button.contact:hover,
.button.contact:focus {
    background-color: var(--point-color-lighter);
}

/* column ------------------------------------------------- */
.col-xl-1 {width: 8.33%;}
.col-xl-2 {width: 16.66%;}
.col-xl-3 {width: 25%;}
.col-xl-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}

.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-mo-10 {width: 83.33%;}
.col-mo-11 {width: 91.66%;}
.col-mo-12 {width: 100%;}


/* Common Layout ------------------------------------------------- */
.container {
    padding: 0 16px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    padding-top:60px;
}

.row {
    margin:0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/* header ------------------------------------------------- */
header {
    position: fixed;
    top:0;
    text-align: center;
    width: 100%;
    background-color: white;
    display: block;
    transition: top 0.3s;
}

header > .container {  
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo{
    margin-right: 4px;
    color: #000000;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

header nav {
    display: inline-block;
}

header .navtoggle nav > ul > li {
    text-transform: uppercase;
}

header i {
    font-size: 1.3em;
    margin-left: 8px;
}

header .navtoggle li:not(:first-child) {
    display: none;
}

header .navtoggle nav > ul > li a:visited{
    color: var( --point-color );
}

header .navtoggle nav > ul > li a:hover,
header .navtoggle nav > ul > li a:focus {
    color: var( --point-color-darker);
}

header .navtoggle nav > ul > li a:active {
    color: var( --point-color );
    font-weight: 700;
}

header .navtoggle, 
header .container {
    position: relative;
}

header .navtoggle.responsive li  {
    display: inline-block;
    padding: 10px;
}

header .navtoggle.responsive li:first-child  {
    display: block;
    padding: 0px;
    margin-top: 16px;
}

/* nav icon animation - START --------------------*/
#nav-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--point-color);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon span:nth-child(4) {
  top: 2px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(1) {
  top: 22px;
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/* nav icon animation - END --------------  */


header .responsive  {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
}

header .navtoggle li .mobileMenu {
    
}

header .navtoggle li .mobileMenu > i{
    margin-left:0;
}

main {
    width: 100%;
    height: 100%;
    /* margin-top: 80px; */
    overflow: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}
main section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

main section#workList, main section#skiils {
    height: auto;
}

main section#footer {
    height: auto;
}

/* intro ------------------------------------------------- */
#intro {
    display: inline-block;
    text-align: center;
}

#intro .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#intro .hi {
    min-height:200px;
}

#intro .categories > div{
    display: inline-block;
}

#intro h1, 
#intro h4, 
#intro p {
    text-align: center;
}

#introAni {
    position: relative;
}

.logobg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: logoback 9s ease 1;

}

/* worklist ------------------------------------------------- */
#workList .container h2 {
    border-top: 0.3px solid rgb(201, 201, 201);
    padding-top: 25px;
}

.projectDes > h4 > span{
    font-size: 0.5em;
    display: block;
    margin-top: 4px;
    padding: 8px 10px;
    background-color: rgb(201 201 201 / 50%);
    font-weight: 400;
}

/* about me ------------------------------------------------- */
#aboutMe .more {
    text-align: center;
}

#aboutMe h4 {
    padding-top: 24px;
    border-top: 0.3px solid rgb(201, 201, 201);
}

.skillAni picture {
    width: 100%;
}

/* Footer ------------------------------------------------- */
footer {
    width: 100%;
    text-align: center;
    background-color: var( --support-color-gray);
}

footer p.copyright {
    padding: 16px 0;
    margin-top: 20px;
    font-size: 0.85em;
}

/* Animation ------------------------------------------------- */
#introAni { /* logo animation Start */
    display: inline-block;
    width: 250px;
}

#introAni path {
    fill: none;
    stroke: var(--point-color);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
}

#w1 {
    -webkit-animation: write1 9s linear infinite;
    animation: write1 9s linear infinite;
}

#w2 {
    -webkit-animation: write2 9s linear infinite;
    animation: write2 9s linear infinite;
}

#o {
    -webkit-animation: write3 9s linear infinite;
    animation: write3 9s linear infinite;
}

.skillAni { /* moving circle Start */
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillAni .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circleOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgba(213,0,50,1);
    border-radius: 50%;
    animation: moving-circleOne 2s ease-in-out infinite alternate;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }
  .circleTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin:15% -10%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    animation: moving-circleTwo 2s ease-in-out infinite alternate;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }

/* queries ------------------------------------------------- */
@media only screen and (min-width: 641px) {
    .col-med-6 {width: 50%;}

    body {
        font-size: 18px;
        line-height: 1.5;
    }

    header nav {
        height: 68px;
    }

    header .navtoggle ul {
        line-height: 70px;
    }
    header .navtoggle li:not(:first-child) {
        display: inline-block;
        margin: 0 8px;
    }
    
    header .navtoggle li:first-child {
        display: none;
    }

    #aboutMe .myText {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 36px;
    }

    .projectDes > h4 > span{
        display: inline-block;
        margin-top: 0px;
    }

    [class*="col-"] {
        float: left;
    }

    .circleOne, .circleTwo {
        height:300px;
    }

    #introAni {
        width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .container{
        padding-top:60px;
    }
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1200px) {
    
}

/* animation ------------------------------------------------- */
@keyframes write1 {
    to {
        stroke-dashoffset: 0;
    }
  }
  
@keyframes write2 {
    0% {
        stroke-dashoffset: 2500;
    }
    33% {
        stroke-dashoffset: 2500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
  
@keyframes write3 {
    0% {
        stroke-dashoffset: 2500;
    }
    50% {
        stroke-dashoffset: 2500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes logoback {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.3;
    }
    45% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moving-circleOne { 
    from { transform: translate(5px, -10px); } 
    to { transform: translate(-3px, 8px) scale(0.95, 1); }
  }
  @keyframes moving-circleTwo { 
    from { transform: translate(-8px, 5px) scale(1, 0.95); } 
    to { transform: translate(7px, -3px) ; }
}

  