@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');
/* @import url(fonts/font.css); */

:root {
    --point-color: rgb(213,0,50); /*point color*/
    --point-color-darker: rgb(124, 15, 40); /*point dark*/
    --point-color-lighter: rgb(252, 208, 218); /*point light*/
    --support-color-gray: rgb(201, 201, 201);
}

body {
    background-color: #ffffff;
    font-family: 'Comfortaa', sans-serif, cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 8px 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    font-size: 1.35em;
    font-weight: 700;
    padding: 16px 0;
}
.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: var( --point-color );
}

.quickContact a{
    color: #000000;
}

.quickContact a:visited {
    color: #000000; 
}

a:hover,
a:focus {
    font-weight: bold;
}

a:active {
    color: var( --point-color-darker );
}

.quickContact a:active {
    color: #000000;
}

img {
    width: 100%;
}

.button {
    display: inline-block;
    background-color: var(--point-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8em;
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 4px;
    border-bottom: 3px solid var(--point-color-darker);
    transition: background-color 0.5s linear 0s;
}

.button:hover {
  background-color: var(--point-color-darker);
}

.button.contact {
    display: inline-block;
    background-color: #ffffff;
    color: var(--point-color);
    border: 1px solid var(--point-color);
    border-bottom: 3px solid var(--point-color-darker);
    text-transform: uppercase;
}

.button.contact:hover,
.button.contact:focus {
    background-color: var(--point-color-lighter);
}

/* column ------------------------------------------------- */
.col-xl-1 {width: 8.33%;}
.col-xl-2 {width: 16.66%;}
.col-xl-3 {width: 25%;}
.col-xl-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}

.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-mo-10 {width: 83.33%;}
.col-mo-11 {width: 91.66%;}
.col-mo-12 {width: 100%;}


/* Layout ------------------------------------------------- */
.container {
    padding: 0 16px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin:24px 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
}
header nav {
display: inline-block;
}

header .logo{
    max-width: 36px;
}

header .navtoggle nav > ul > li {
    text-transform: uppercase;
}

header i {
    font-size: 1.3em;
    margin-left: 8px;
}

header .navtoggle nav > ul > li {
    display: inline-block;
    margin-left: 0px;
}

header .navtoggle li:not(:last-child) {
    display: none;
}

header .navtoggle nav > ul > li a:visited{
    color: var( --point-color );
}

header .navtoggle nav > ul > li a:hover,
header .navtoggle nav > ul > li a:focus {
    color: var( --point-color-darker);
}

header .navtoggle nav > ul > li a:active {
    color: var( --point-color );
    font-weight: 700;
}

header .navtoggle, 
header .container,
header .navtoggle.responsive {
    position: relative;
}

header .navtoggle.responsive li  {
    display: inline-block;
    padding: 20px 6px 8px 6px;
}

header .navtoggle.responsive li:last-child  {
    display: block;
    padding: 0px;
}

header .navtoggle li .mobileMenu {
    position: absolute;
    left: 0;
    top: 10px;
}

header .navtoggle li .mobileMenu > i{
    margin-left:0;
}

header .quickContact {
    position: absolute;
    right: 16px;
    top: 25px;
}

header > .container {  
    padding: 16px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px var(--support-color-gray);
}
main {
    padding-top:100px;
}

#intro {
    display: inline-block;
    width: 100%;
    text-align: center;
}
#intro .categories > div{
    display: inline-block;
}

/* intro ------------------------------------------------- */
#intro h1, 
#intro h4, 
#intro p {
    text-align: center;
}

/* worklist ------------------------------------------------- */
#workList .container h2 {
    border-top: 0.3px solid rgb(201, 201, 201);
    padding-top: 25px;
}

.projectDes > h4 > span{
    font-size: 0.5em;
    display: block;
    margin-top: 4px;
    padding: 8px 10px;
    background-color: rgb(201 201 201 / 50%);
    font-weight: 400;
}

/* about me ------------------------------------------------- */
#aboutMe .more {
    text-align: center;
}

#aboutMe h4 {
    padding-top: 24px;
    border-top: 0.3px solid rgb(201, 201, 201);
}

.skillAni picture {
    width: 100%;
}

/* Footer ------------------------------------------------- */
#contact {
    text-align: center;
    background-color: var( --support-color-gray);
}

#contact h4 {
    padding-top: 24px;
    border-top: 0.3px solid rgb(201, 201, 201);
}

#contact p.copyright {
    padding: 16px 0;
    margin-top: 20px;
    border-top: 0.3px solid #00000052;
    font-size: 0.85em;
}

/* logo animation ------------------------------------------------- */
#introAni {
    
}

#logoAni {
    opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

/* moving circle ------------------------------------------------- */
.skillAni {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillAni .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circleOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: rgba(213,0,50,1);
    border-radius: 50%;
    animation: moving-circleOne 2s ease-in-out infinite alternate;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }
  .circleTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin:15% -10%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    animation: moving-circleTwo 2s ease-in-out infinite alternate;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }

/* queries ------------------------------------------------- */
@media only screen and (min-width: 641px) {
    .col-med-6 {width: 50%;}

    body {
        font-size: 18px;
        line-height: 1.5;
    }

    header .logo {
        max-width: 64px;
        position: absolute;
        left:16px;
    }

    header nav {
        height: 68px;
    }

    header .navtoggle ul {
        line-height: 70px;
    }
    header .navtoggle li:not(:last-child) {
        display: inline-block;
        margin: 0 8px;
    }
    
    header .navtoggle li:last-child {
        display: none;
    }

    main {
        padding-top:120px;
    }

    #aboutMe .myText {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 36px;
    }

    #contact .container {
        text-align: center;
    }

    .projectDes > h4 > span{
        display: inline-block;
        margin-top: 0px;
    }

    [class*="col-"] {
        float: left;
    }

    .circleOne, .circleTwo {
        height:300px;
    }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1200px) {
    
}

/* animation ------------------------------------------------- */
@keyframes letter-animation {
    0% {
        stroke-dashoffset: 2600;
    }
    60% {
        stroke-dashoffset: -2600;
    }
    75% {
        stroke-dashoffset: 2600;
    }
    85% {
        stroke-dashoffset: -2600;
    }
    100% {
        stroke-dashoffset: 2600;
    }
}

@keyframes moving-circleOne { 
    from { transform: translate(5px, -10px); } 
    to { transform: translate(-3px, 8px) scale(0.95, 1); }
  }
  @keyframes moving-circleTwo { 
    from { transform: translate(-8px, 5px) scale(1, 0.95); } 
    to { transform: translate(7px, -3px) ; }
  }

  